.container {
  position: relative;
  max-width: 1240px;
  width: 100%;
  padding: 0 0 80px 20px;
  margin: 0 auto;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  max-width: 914px;
  width: 100%;
  margin: 0 auto;
}

.title,
.subtitle {
  font-size: 20px;
  line-height: 25px;
  color: var(--black-100);
}

.hastag {
  position: absolute;
  top: 35px;
  font-size: 75px;
  line-height: 94px;
  z-index: 99;
  color: var(--blue-400);
}

.slideItem {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
